<!-- ==========================================
     PRODUCT LIST KOMPONENS - PÉLDA
     ========================================== -->

<div class="product-grid-container">
  <h1>X eredményt találtunk a Y keresésre</h1>

  <!-- GRID LAYOUT - 2 kártya egy sorban -->
  <div class="product-grid">
    @for (product of products; track $index) {
    <app-product-card [product]="product"></app-product-card>
    }
    <!-- 1. kártya -->

    <!-- 2. kártya -->
    <!-- <app-product-card></app-product-card> -->

    <!-- 3. kártya (új sor) -->
    <!-- <app-product-card></app-product-card> -->

    <!-- 4. kártya -->
    <!-- <app-product-card></app-product-card> -->

    <!-- 5. kártya (új sor) -->
    <!-- <app-product-card></app-product-card> -->

    <!-- 6. kártya -->
    <!-- <app-product-card></app-product-card> -->
  </div>
</div>
