<!-- Full-width background wrapper -->
<div class="slider-bg">
  <!-- Slideshow container -->
  <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="assets/reklam.png" alt="Slide 1" />
    </div>

    <div class="mySlides fade">
      <img src="assets/reklam2.png" alt="Slide 2" />
    </div>

    <div class="mySlides fade">
      <img src="assets/reklam3.png" alt="Slide 3" />
    </div>
  </div>
</div>

<!-- The dots/circles -->
<div class="dots-container">
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
  <span class="dot" (click)="currentSlide(3)"></span>
</div>
