.product-wrapper {
  border: 1px solid #2b2b2b;
  border-radius: 15px;
  max-height: 500px;
  max-width: 600px;
  width: 600px;
  height: 500px;
  margin: auto;
  color: #2b2b2b;
  overflow: hidden;
}
.right {
  float: right;
  border: unset;
  max-width: 300px;
  max-height: 500px;
}
.product-wrapper .left {
  background-color: #2b2b2b;

  border: unset;
  float: left;
  max-width: 300px;
  max-height: 500px;
  width: 300px;
  height: 500px;
}
.left img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  margin-top: 50px;
}
.product-desc {
  justify-content: left;
}
.bottom {
}
