@font-face {
  font-family: 'CCFont';
  src: url('/assets/Karla/Karla-VariableFont_wght.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'CCFont';
}
html,
body {
  background-color: #fffafa;
}
