.hero-text {
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
  color: #333333;
}

.profile-wrapper {
  background-image: url('/assets/feher_hatter_ugyaneb.png');
  background-repeat: repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
