.filter-container {
  border: none;
  box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  min-height: 250px;
  display: block;
  justify-content: left;
  margin: 0px 0px 20px 20px;
  padding: 10px 10px;
  border-radius: 10px;
}
.filter-title {
  font-size: 16px;
  font-weight: 600;
  color: #2b2b2b;
}
.filter-container ul {
  list-style: none;
  padding-bottom: 10px;
}
hr {
  border: 1px solid #ff6600;
  margin-bottom: 10px;
}
/* checkbox styling */
.custom-checkbox {
  margin-bottom: 120px;
}
.custom-checkbox input[type='checkbox'] {
  display: none;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fffafa;
  border: 2px solid #2b2b2ba2;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid #fffafa;

  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.custom-checkbox input:checked + .checkmark {
  background-color: #ff6600;
  border-color: #2b2b2ba2;
}
