<app-main-header></app-main-header>
<!--TODO másik header + progress par-->
<div class="cart-page-wrapper">
  <div class="stage-title">
    <h1>Kosár</h1>
    <hr />
  </div>
  <div class="item-list-container">
    <div class="item-list-header">
      <h2>Termék kép</h2>
      <h2>Márka</h2>
      <h2>Termék</h2>
      <h2>Mennyiség</h2>
      <h2>Összesen</h2>
      <h2>Törlés</h2>
    </div>
    <div class="list-items">
      <ul></ul>
      <hr />
      <ul></ul>
      <hr />
      <ul></ul>
      <hr />
      <ul></ul>
      <hr />
      <ul></ul>
      <hr />
      <ul></ul>
      <hr />
      <ul></ul>
      <hr />
    </div>
  </div>
  <div class="summary-container">
    <div class="summary-header"><h2>Összegzés</h2></div>
    <p>x termék</p>
    <ul>
      <li></li>
    </ul>
    <p>Összesen: x Ft</p>
    <p>Szállítási díj: x Ft</p>
    <hr />
    <p>Végösszeg: x Ft <i class="fa-solid fa-circle-info"></i></p>
    <app-payment-forward-button></app-payment-forward-button>
  </div>
</div>

<app-footer></app-footer>
